<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query 10 Results</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 8px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Event Id</th>
                <th>Event Date</th>
                <th>Staff Role Id</th>
                <th>Role Name</th>
                <th>Total Required Staff</th>
            </tr>
        </thead>
        <tbody>
            <% query12.forEach(row => { %>
                <tr>
                    <td><%= row.event_id %></td>
                    <td><%= new Date(row.event_date).toDateString() %></td>
                    <td><%= row.staff_role_id %></td>
                    <td><%= row.role_name %></td>
                    <td><%= row.total_required_staff %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    <br>
    <a href="/">Back to Home</a>
</body>
</html>