<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query 3 Results</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            margin: 0 auto;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            margin-bottom: 20px;
            color: white;
            font-size: 40px;
            font-family: 'Courier New', Courier, monospace;
            width: 100%;
        }

        .title-section {
            background-color: blue;
            padding: 40px;
            border-radius: 0;
            margin-bottom: 30px;
        }

        .Back-Home a {
            font-family: 'Courier New', Courier, monospace;
            font-size: 25px;
            color: black;
            text-decoration: none;
        }

        .Back-Home a:hover {
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="title-section">
        <h1>Query 3 Results</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th>Artist ID</th>
                <th>Artist Name</th>
                <th>Festival</th>
                <th>Festival ID</th>
                <th>Event Name</th>
                <th>Warm Up Count</th>
            </tr>
        </thead>
        <tbody>
            <% query3.forEach(row => { %>
                <tr>
                    <td><%= row.artist_id %></td>
                    <td><%= row.Artist_Name %></td>
                    <td><%= row.FESTIVAL %></td>
                    <td><%= row.festival_id %></td>
                    <td><%= row.event_name %></td>
                    <td><%= row.Warm_Up_Count %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <br>
    <div class="Back-Home">
        <a href="/index">Back to Home</a>
    </div>
</body>
</html>
