<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query 10 Results</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 8px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Visitor Name</th>
                <th>Visitor Surname</th>
                <th>Performer Name</th>
                <th>Performer Type</th>
                <th>Total Rating Score</th>
            </tr>
        </thead>
        <tbody>
            <% query15.forEach(row => { %>
                <tr>
                    <td><%= row.Visitor_Name %></td>
                    <td><%= row.Visitor_Surname %></td>
                    <td><%= row.Performer_Name %></td>
                    <td><%= row.Performer_Type %></td>
                    <td><%= row.Total_Rating_Score %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    <br>
    <a href="/">Back to Home</a>
</body>
</html>